<div class="map-container">
  <div id="latlngmap"></div>
</div>
<% content_for :javascript do %>
  <%= content_tag(:script, '', src: "https://maps.googleapis.com/maps/api/js?key=#{field.google_api_key}&libraries=places") if field.search? %>
  <script type="text/javascript">
    // Attach a leaflet.js map to the div above
    var map = L.map('latlngmap');
    var osm = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
    });
    map.addLayer(osm);

    var createMarker = function(latlng) {
      var icon = new L.Icon.Default();
      var options = { icon: icon };
      marker = L.marker(latlng, options);
      marker.addTo(map);
    };

    var setMarker = function (latlng) {
      if (marker === undefined) {
        createMarker(latlng);
      } else {
        marker.setLatLng(latlng);
      }
      $('.latlng-lat').val(latlng.lat);
      $('.latlng-lng').val(latlng.lng);
    };

    // Get the centre lat/lng from the field or the initial default if the field
    // hasn't been set yet
    var latlng = [];
    if (lng === undefined) {
      latlng = <%= field.initial.to_json %>;
    } else {
      latlng = [lat, lng];
    }
    map.setView(latlng, <%= field.zoom %>);

    // Add a marker if the field has been set already
    var marker;
    if (lng !== undefined) {
      createMarker(latlng);
    }
    <% if edit %>
    // In edit mode, move the marker and update the fields when a user clicks
    // inside the map
    map.on('click', function (e) {
      setMarker(e.latlng);
    });
    <% end %>

    <% if field.search? %>
    new L.Control.GPlaceAutocomplete({
        callback: function (place) {
          map.panTo([
              place.geometry.location.lat(),
              place.geometry.location.lng()
          ]);

          <% if edit %>
          setMarker({
            lat: place.geometry.location.lat(),
            lng: place.geometry.location.lng(),
          });
          <% end %>
        },
      })
      .addTo(map);
    <% end %>
  </script>
<% end %>
